<font color="#f5f5f5"><h2 style="text-align: center">ADD EMPLOYEE</h2></font>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "employees/shared/error_messages", resource: resource %>

  <div class="field">
    <font color="#f5f5f5"><p style="text-align: center">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </p></font>
  </div>

  <div class="field">
    <p style="text-align: center">
      <font color="#f5f5f5">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", value: "123456" %></font>
    </p></div>

  <div class="field">
    <p style="text-align: center">
      <font color="#f5f5f5">
    <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" ,value: "123456" %></font>
    </p>
  </div>

  <div class="actions">
    <p style="text-align: center">
    <%= f.submit "Sign up" %>
    </p>
  </div>

<% end %>
<p style="text-align: center">
<%= render "employees/shared/links" %>
</p>